@import 'override';
@import 'utility';
@import 'utility_colors';

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url('');
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #1a1d22;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.overflow-y-scroll {
  overflow-y: auto;
}

.custom-scroll {
  /* Customize the scrollbar appearance */
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  height: calc(100% - 108px);

  /* For WebKit browsers */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
}

.room-item {
  display: flex;
  flex-direction: column; /* Ensures the children stack vertically */
}

.time-ago {
  margin-left: 290px !important;
}

.chat-room-list-wrapper {
  height: 100%;
}

.img-fullsize {
  * {
    width: auto !important;
    height: auto !important;
  }
}

.chat-top,
.chat-middle,
.chat-bottom {
  margin: 0;
  padding: 0;
}

.chat-top,
.chat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

$chat-t: 75px;
$chat-b: 65px;

.chat-top {
  height: $chat-t;
}

.chat-bottom {
  height: $chat-b;
}

.chat-middle {
  height: calc(100% - #{$chat-t} - #{$chat-b});
}

.msg-list {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  list-style-type: none;

  li {
    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.animate-blink {
  animation: blink normal 1.5s infinite ease-in-out;
  color: red !important;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}

#chat-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-input {
  width: 70%;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#send-button {
  padding: 8px;
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.lucky1{
  overflow: hidden;
}

.lucky2{
  display: inline-block;
  visibility: visible;
}

.input-container {
  display: flex;
}

.input-container > * {
  flex: 1;
}

.rs-input-group{
  width: 66%;
}

